*
{

    margin:0;
    padding:0;
   font-family: 'Orbitron', sans-serif;
    }

body{
    background-color: rgb(223, 216, 216);

}

button{
    width:40px;
    height:40px;
}
table{
    box-shadow: 10px 10px 10px rgb(138, 135, 135);
}
#mainbutton , #resetbutton{
    width:100px;
    height:50px;
}

.allbut{
    width:100px;
    height:100px;
}
.allbut:hover{
    background-color: rgb(223, 216, 216);
    color:rgb(7, 7, 7);
    font-size: 50px;

}

.hero{
    margin-top: 80px;
        display: flex;
    justify-content: space-around;
    
 }
 
/* .buttonwoladiv{
  margin-top: 100px;
} */
.buttonwoladiv{
    /* background-color: crimson; */
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bb{
/* FOR  BUTTON */
}
.pxo{

    font-size: 30px;
}

.inputusername{
    font-family: 'Orbitron', sans-serif;
    color: black;
    border-radius: 30px;
    text-align: center;
    box-shadow: 7px 7px 10px rgb(75, 73, 73) ,-10px -10px 10px rgb(255, 255, 255) ;
    padding :30px;
  
}
input{
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(255, 255, 255);
   background-color: rgb(223, 216, 216);
    text-align: center  ;
    border-radius: 10px;
    height: 30px;
    color:black;
    width:200px;
}
input:focus{
    border: solid;
    border-color: white; 
   background-color:rgb(134, 129, 129);
  color:white;
    width:200px;
    
}
#nextpage{
    color: black;
    border-bottom: solid;
    border-top: solid;
    border-color: black;
     border-radius: 10px;
    text-decoration: none ;
    padding: 10px;
}
#nextpage:hover{
    color: rgb(255, 255, 255);
    border: none;
    border-left: solid;
    border-right: solid;
    border-color:rgb(5, 5, 5);
  font-size: 20px;
}


.winning{
   margin-top: 50px;
    border-radius: 20px;
     box-shadow: 10px 10px 10px rgb(7, 7, 7) ,-10px -10px 10px rgb(255, 255, 255) ; 
     text-align: center;
   
     

}
.winner {
    font-size: 80px;
      
    
    
}

 .mbutton:hover{
    box-shadow: inset 5px 5px 4px rgb(75, 73, 73) , inset -5px -5px 4px rgb(255, 255, 255) ;
    padding: 10px;
    height: 50px;
    width: 100px;
    background-color: rgb(223, 216, 216);
    font-size: large;
     border: none;
    border-radius: 15px;
    text-align: center;
    font-size: large;
} 

.mbutton{
   
    box-shadow: inset 5px 5px 4px  rgb(255, 255, 255), inset -5px -5px 4px rgb(75, 73, 73) ;
    padding: 10px;
    height: 50px;
    width: 100px;
    background-color: rgb(223, 216, 216);
    font-size: large;
      border: none;
    border-radius: 15px;
    text-align: center;
    font-size: large;
} 
.vs{
    margin-top: 50px;
   font-size: 100px;
   box-shadow: 10px 10px 10px rgb(7, 7, 7) ,-10px -10px 10px rgb(255, 255, 255) ; 
   text-align: center;
   display: flex;
   justify-content: center;

    
   }
   
   

.round{
    margin-top: 50px;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 0, 0);
    border: solid;
    border-radius: 50px;
} 